<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>客户端</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    .num{
      font-size: 12px;
      color: red;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="num">在线人数:{{num}}</div>
    <ul>
      <li v-for="(item, index) in lists" :key="'message'+ index">{{item}}</li>
    </ul>
    <div v-if="isShow">
      用户名:<input type="text" v-model="name">
      房间号:<input type="text" v-model="roomId">
      <button type="button" @click="enter()">进入聊天室</button>
    </div>
    <div v-else>
      <div class="ctrl">
        <input type="text" v-model="message">
        <input type="button" @click="send()" value="按钮">
      </div>
    </div>
    <!-- <input type="button" id="close" value="关闭连接"> -->
  </div>


  <script>
    new Vue({
      el: '#app',
      data () {
        return {
          // 放制服务端发送来的消息
          message: '',
          lists: [],
          ws: {},
          isShow: true,
          // 用户名
          name: '',
          // 在线人数
          num: 0,
          // 房间号
          roomId: '',
          // 重连计时器
          handle: null
        }
      },
      mounted () {
        
      },
      methods: {
        init () {
          this.ws = new WebSocket('ws://127.0.0.1:3000')
          this.ws.onopen = this.onOpen
          this.ws.onmessage = this.onMessage
          this.ws.onclose = this.onClose
          this.ws.onerror = this.onError
        },
        enter() {
          if (this.name.trim() === '') {
            alert('用户名不得为空！')
            return
          }
          // 当用户进入聊天时候再进行websocket的连接
          this.init()
          this.isShow = false
        },
        // 刚开始打开时候
        onOpen: function() {
          
          console.log('open:' + this.ws.readyState);
          // 发起鉴权请求
          this.ws.send(JSON.stringify({
            event: 'auth',
            // message就是token的数据
            message: `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6Imltb29jIiwiaWF0IjoxNTE2MjM5MDIyfQ.KQv-KO2KRPtFP1Hl9h3qyxiko8Czz_7vWVm-5JcyP7k`
          }))

          // ws.send是不能发送对象的,所以要转换为字符串，这里是发送给后台房间号的请求
          this.ws.send(JSON.stringify({
            event: 'enter',
            name: this.name,
            roomId: this.roomId
          }))
        },
        onMessage: function(event) {
          // 当用户未登入时候不接收消息，直接将消息截断了
          if(this.isShow){
            return false;
          }
          // this.lists.push(event.data)
          // 接收服务端发送过来的消息
          var obj = JSON.parse(event.data)
          if (obj.event === 'noauth') {
            // 鉴权失败
            // 路由跳转到 /login ，重新获取token
          }

          if (obj.event === 'heartbeatToClient') {
            this.checkServer()
            this.ws.send(JSON.stringify({
              event: 'heartbeatToServer',
              message: 'pong'
            }))
            return
          }

          // console.log(event)
          if (obj.event === 'enter') {
            // 当一个新的用户进入聊天室
            this.lists.push('欢迎' + obj.name + '加入聊天室')
          } else if(obj.event === 'out'){
            this.lists.push(obj.clientName + '已经退出聊天室!')
          } else {
            // 判断接收人与发送人name不一致时候才去接收对方消息
            if(this.name !== obj.clientName) {
              // console.log(this.name, obj.clientName)
              // 接收正常的聊天
              this.lists.push( obj.clientName + ':' + obj.message)
            }
          }
          this.num = obj.num
        },
        // 当链接主动断开时候触发close事件
        onClose: function() {
          console.log('close:' + this.ws.readyState)
          console.log('已关闭websocket')
          this.ws.close()
        },
        // 当连接失败时，触发error事件
        onError: function(){
          console.log('error:' + this.ws.readyState)
          console.log('websocket连接失败')
          // 失败时候重连
          var _this = this
          setTimeout(function(){
            _this.init()
          }, 1000)
        },
        // 发送消息
        send: function(){
          // 本客户端也要显示消息的
          if(this.message){
            // 推送消息到本客户端
            this.lists.push(this.name + ':' +this.message)
            // 推送消息到服务器,切记要以字符串的方式
            this.ws.send(JSON.stringify({
              event: 'message',
              message: this.message
            }));
            // 清空
            this.message = ''
          } else {
            alert('请输入内容')
          }
        },
        // 检查时间延迟
        checkServer: function(){
          var _this = this
          clearTimeout(this.handle)
          // 重新一次连接
          this.handle = setTimeout(function() {
            _this.onClose()
            _this.init()
          }, 1000 + 500)
        }
      }
    })
    // var ws = new WebSocket('ws://127.0.0.1:3000')
    // ws.onopen = function(){
    //   console.log('open:' + ws.readyState);
    //   ws.send('hello from client!');
    // }
    // ws.onmessage = function(event) {
    //   console.log('message:' + ws.readyState);
    //   console.log(event.data);
    // }
    // // 当链接主动断开时候触发close事件
    // ws.onclose = function(){
    //   console.log('close:' + ws.readyState);
    //   console.log('已关闭websocket')
    // }
    // // 档连接主动断开时候触发close事件
    // ws.onerror = function(){
    //   console.log('error:' + ws.readyState)
    //   console.log('websocket连接失败')
    // }
    // // 当连接失败时，触发error事件
    // // document.getElementById('app').addEventListener('click', function(){
    // //   ws.close()
    // // })
    // // 发送消息
    // document.getElementById('send').addEventListener('click', function(){
    //   var inputValue = document.getElementById('msg').value;
    //   ws.send(inputValue);
    //   document.getElementById('msg').value = '';
    // })
    // // 关闭链接
    // document.getElementById('close').addEventListener('click', function(){
    //   ws.close()
    // })
  </script>
</body>
</html>